.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 32px;
}
.row {
  margin: 25px 0;
}
.container {
  font-family: 'Baloo Paaji 2', cursive;;
}
#question {
  font-size: 32px;
  border: 2px solid rgb(55,65,79);
  padding: 10px;
  border-radius: 10px;
}
#red {
  color: red;
}
#green {
  color: green;
}